:root {
  --test-sample: "test-sample";

  /* color */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);

  --color-light-gray: rgb(150, 150, 150);
  --color-dark-gray: rgb(70, 70, 70);

  --color-light-aqua: rgb(165, 245, 216);
  --color-aqua: rgb(58, 215, 220);
  --color-turquoise: rgb(38, 120, 117);
  --color-dark-turquoise: rgb(20, 85, 91);

  --color-dark-green: rgb(14, 25, 29);

  --color-gold: rgb(200, 155, 60);
}



* {
  padding: 0;
  margin: 0;

  font-family: "beaufort";
  box-sizing: border-box; 
  
}

@font-face {
  font-family: "beaufort";
  src: url("data/font/BeaufortforLOL-Bold.ttf");
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: url("data/ui/cursor.png"), auto;

  background-color: var(--color-dark-green);
}

#canvas {
    border: 5px solid var(--color-gold);
    background: center/120% no-repeat url("data/ui/background.png");
    cursor: url("data/ui/cursor-pointer.png"), auto;
    width: 80vmax;
    padding: 10px 20px;
}

.modal-window {

  background: radial-gradient(var(--color-dark-green) 60%, var(--color-black));

  position: fixed;
  width: 100vmax;
  height: 100vmin;
  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.modal-window .border {
  position: absolute;
  width: 80%;
  height: 80%;

  z-index: -1;

}

.modal-window .border > div {
  position: absolute;
  border: 2px solid var(--color-aqua);
  background-color: var(--color-dark-turquoise);

  overflow: hidden;
}

.modal-window .border > div::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;


  position: absolute;

}

@keyframes toright {
  0% {
    background-color: var(--color-aqua);
    transform: translateX(-100%);
  }
  100% {
    background-color: var(--color-aqua);
    transform: translateX(0);
  }
}

@keyframes tobottom {
  0% {
    background-color: var(--color-aqua);
    transform: translateY(-100%);
  }
  100% {
    background-color: var(--color-aqua);
    transform: translateY(0);
  }
}

@keyframes toleft {
  0% {
    background-color: var(--color-aqua);
    transform: translateX(100%);
  }
  100% {
    background-color: var(--color-aqua);
    transform: translateX(0);
  }
}

@keyframes totop {
  0% {
    background-color: var(--color-aqua);
    transform: translateY(100%);
  }
  100% {
    background-color: var(--color-aqua);
    transform: translateY(0);
  }
}

.modal-window .border .border-top::after {
  animation: toright 3s linear 0s both;
}

.modal-window .border .border-right::after {
  animation: tobottom 3s linear 3s both;
}

.modal-window .border .border-bottom::after {
  animation: toleft 3s linear 6s both;
}

.modal-window .border .border-left::after {
  animation: totop 3s linear 9s both;
}

.modal-window .border .border-right {
  width: 20px;
  height: 100%;
  right: 0;
}

.modal-window .border .border-left {
  width: 20px;
  height: 100%;
  left: 0;
}

.modal-window .border .border-top {
  width: 100%;
  height: 20px;
  top: 0;
}

.modal-window .border .border-bottom {
  width: 100%;
  height: 20px;
  bottom: 0;
}

.modal-window .title-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;

  margin-bottom: 40px;
}

.modal-window .title-box .subtitle {
  font-size: 2.6vmax;
  
  color: var(--color-gold);
  word-break: keep-all;
  text-align: center;
}

.modal-window .title-box .title {
  font-size: 5vmax;
  color: var(--color-white);
  font-weight: bold;

  word-break: keep-all;
  text-align: center;
  margin-bottom: 20px;

}

.modal-window .underline {
  content: "";
  width: 100%;
}

.button-box {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.button-box button {

  background-color: var(--color-aqua);

  border-bottom: solid 3px var(--color-turquoise);
  border-left: solid 3px var(--color-turquoise);
  
  border-top: solid 3px var(--color-light-aqua);
  border-right: solid 3px var(--color-light-aqua);

  border-end-end-radius: 10px;
  border-end-start-radius: 10px;

  color: var(--color-white);

  height: 2vmax;
  font-size: 1.5vmax;
  font-weight: bold;
  padding: 10px 15px;
  cursor: url("data/ui/cursor-pointer.png"), auto;
  box-sizing: content-box;

  transition: all .3s;

}

.button-box button:hover {
  background-color: var(--color-dark-turquoise);

  border-bottom: solid 3px var(--color-dark-turquoise);
  border-left: solid 3px var(--color-dark-turquoise);
  
  border-top: solid 3px var(--color-turquoise);
  border-right: solid 3px var(--color-turquoise);

  border-radius: 10px;

  color: var(--color-light-gray);
}

.button-box button:active {
  transform: scale(.9);
}